<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <title>个人学习平台</title>
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        .error{
            color: #ec0e0e;
            font-size: 4px;
        }
    </style>

</head>
<body>
<div class="main">
    <div class="container a-container" id="a-container">
        <form class="form" id="a-form" method="POST" action="/login">
            <h1 class="form_title title">个人学习平台</h1>
            <label for="username"></label><input id="username" name="username" class="form__input" type="text" placeholder="Name" maxlength="12" required/>
            <label for="password"></label><input id="password" name="password" class="form__input" type="password" placeholder="password" maxlength="12" required/>
            <button id="button" class="form__button button submit">登录</button>
            <br>
            <!--/*@thymesVar id="messageerror" type=""*/-->
            <p class="error" th:text="${messageerror}" th:if="${not #strings.isEmpty(messageerror)}"></p>
        </form>
    </div>
    <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
            <h1 class="switch__title title">欢 迎</h1>
            <p class="switch__description description" ><b>打造属于自己的自学平台</b></p>
        </div>

    </div>
</div>
<script>

</script>
</body>
</html>